# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
/theme/dist
/theme/bower_components
/theme/node_modules
/theme/npm-debug.log
/theme/vendor
